<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <!-- Логотип и название -->
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <span class="fs-4">TASTYYYY!</span>
            </a>

            <!-- Навигационное меню -->
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'home' %}" class="nav-link px-2 text-white hover-effect">Home</a></li>
                <li><a href="{% url 'recipe_search' %}" class="nav-link px-2 text-white hover-effect">Search Recipes</a>
                </li>
                
            </ul>

            <!-- Блок с кнопками для пользователя -->
            <div class="text-end">
                {% if user.is_authenticated %}
                    <a href="{% url 'add_recipe' %}"
                       class="btn btn-outline-info text-white px-3 py-2 me-2 hover-effect"><i
                            class="bi bi-plus-square"></i> Add Recipe</a>
                    <a href="{% url 'logout' %}"
                       class="btn btn-secondary text-white px-3 py-2 me-2 hover-effect">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-info px-3 py-2 me-2 hover-effect">Login</a>
                    <a href="{% url 'register' %}" class="btn btn-outline-light text-white px-3 py-2">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
