{% extends 'base.html' %}

{% block title %}{{ recipe.title }} - TASTYYYY{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <!-- Заголовок рецепта -->
                        <h1 class="card-title display-4 text-center mb-4">{{ recipe.title }}</h1>


                        {% if recipe.image %}
                            <img src="{{ recipe.image.url }}" class="w-50 rounded mb-4"
                                 alt="{{ recipe.title }}">
                        {% endif %}

                        <!-- Описание рецепта -->
                        <div class="mb-4">
                            <h5 class="card-subtitle mb-2 text-muted">Description</h5>
                            <p class="card-text">{{ recipe.description }}</p>
                        </div>

                        <!-- Ингредиенты -->
                        <div class="mb-4">
                            <h5 class="card-subtitle mb-2 text-muted">Ingredients</h5>
                            <p class="card-text">{{ recipe.ingredients }}</p>
                        </div>

                        <!-- Инструкции -->
                        <div class="mb-4">
                            <h5 class="card-subtitle mb-2 text-muted">Instructions</h5>
                            <ul class="list-group list-group-flush">
                                {% for step in instructions %}
                                    <li class="list-group-item">{{ step }}</li>
                                {% endfor %}
                            </ul>
                        </div>

                        <!-- Время приготовления -->
                        <div class="mb-4">
                            <h5 class="card-subtitle mb-2 text-muted">Cooking Time</h5>
                            <p class="card-text">{{ recipe.cooking_time }} minutes</p>
                        </div>

                        <!-- Кнопки действий -->
                        <div class="d-flex justify-content-between mt-4">
                            {% if request.user == recipe.author %}
                                <!-- Ссылка на редактирование, если пользователь является автором -->
                                <a href="{% url 'edit_recipe' recipe_id=recipe.id %}" class="btn btn-warning">
                                    <i class="bi bi-pencil-fill"></i> Edit Recipe</a>
                            {% endif %}
                            <a href="{% url 'home' %}" class="btn btn-secondary"><i class="bi bi-house"></i> Back to
                                Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}